//Ad page

.adPageImg {
    .display-flx(column, space-evenly, center);
    width: 85%;
    margin: 0 auto;
    img {
      width: 60%;
      margin: 4% 0;
    }
  }
  
  .adPageMain {
    .display-flx(column, center, left);
    margin: 2% 12% 0 12%;
    h2 {
      font-size: calc(1em + 1.2vw);
      font-weight: bold;
    }
    p {
      font-size: calc(1em + 0.5vw);
      text-align: justify;
      font-style: italic;
      margin-bottom: 2%;
    }
    ul {
      list-style-type: square;
      list-style-position: inside;
    }
    li:last-child {
      margin-bottom: 10%;
    }
  }